.Collapsible {
  background-color: #22BBB5; }

.Collapsible__contentInner {
  padding: 10px;
  background: white;
  border-top: 0; }
  .Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Oxygen';
    font-size: 16px;
    text-align: left; }
    .Collapsible__contentInner p:last-child {
      margin-bottom: 0; }
  .Collapsible__contentInner ul {
    text-align: left; }

.Collapsible__contentOuter {
  border: 1px solid #22BBB5;
  margin-bottom: 10px; }

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  padding: 10px;
  background-color: #22BBB5;
  color: white;
  font-family: 'Oxygen';
  font-size: 18px; }
  .Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey; }
